p {
  color: #5D4A66; /*dark purple*/
  font-family: helvetica;
}

h1, h2 {
  text-transform: uppercase;
}

h1 {
  color: #749C75; /*dark green*/
  -webkit-text-stroke-width: .01px;
  -webkit-text-stroke-color: #CBC3E3; /*light purple*/
  font-family: 'Notable', sans-serif;
}

body {
  background-color: #B2BD7E; /*light green*/
}

h2 {
  font-size:40px;
  font-family: 'Ranchers';
  color: #E9D985; /*yellow*/
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #749C75; /*dark green*/
}

#views {
  width: 100vw;
  height: 60vh;
  /* overflow: hidden; */
  margin: 0px;
  padding: 0px;
}

#views img {
  width: 100vw;
  height: 80vh;
  position: relative;
  bottom: 100px;
}

#views h1 {
  z-index: 1;
  position: relative;
  font-size: 5vw;
  top: 45vh;
  margin: 0 0 0 7vw;
}

#one, #two, #three {
  margin-left: 7vw;
  margin-right: 3vw;
  margin-bottom: 10vw;
}

button {
  background-color: #CBC3E3; /*light purple*/
  color: #5D4A66;
  font-family: "Bebas Neue";
  border-radius: 50px;
  border-color: #5D4A66;
  font-size: 30px;
  margin: 10px;
  padding: 7px 75px;
}

button:active {
  background-color: #5D4A66;
  color: #CBC3E3;
}

button:hover {
  border: #5D4A66 3px;
}

a:link {
  color: blue;
}

a:hover {
  font-size: 120%;
  color: #749C75;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #5D4A66;
}
