h1 {
  font-size: 50px;
  color: #749C75;
  font-family: 'Bangers', cursive;
}

h3 {
  color: #CBC3E3;
  font-family: 'Rampart One', cursive;
  font-weight: 600;
}

img {
  width: 20vw;
}

body {
  background-color: #5D4A66;
}

html {
  border: solid;
  border-width: 50px;
  border-color: #B2BD7E;
  color: #E9D985;
  font-family: 'Boogaloo', cursive;
}

#contact {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

#portfolio {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
